<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <style>
strong  {
  color: red;
  font-family: courier;
  font-size: 300%;
}
h3  {
  font-family: courier;
}
[type="file"] + label,
.button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}


</style>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    <h3>{{order}}</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file1" name="file" />
        <label for="file1" />Choose a file</label>
        <small>Only accepts CSV files</small>
        <button class="button" type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}
</body>
</html>